.Checkout-page {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 3em;

}

.cart-container {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    display: grid;
    grid-template-columns: 65% 1fr;
    grid-template-rows: 1fr;

    box-shadow: 0 0 20px #ccc;

}

.item-list-container {
    width: 95%;
    padding-bottom: 30px;
    height: 76%;

}


.cart-top-wraper {
    display: flex;
    align-items: center;
    padding-bottom: 35px;
    border-bottom: 3px solid #C0C0C0;
    margin-top: 35px;
}

.cart-h {
    font-size: 2rem;
    margin-left: 1em;
}


.products {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: auto;
    text-align: center;


}

.c-info-bar {
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}


.pr-details {
    margin-right: auto;
    margin-left: 7.5%;
    color: #6b6b6b;

}

.qty {
    margin-right: auto;
    margin-left: 22%;
    color: #6b6b6b;

}

.price {
    margin-right: 10.5%;
    margin-left: auto;
    color: #6b6b6b;

}

.cartpart {
    height: 100%;
    width: 100%;
    display: flex;
}

.cart-scroll {
    width: 100%;
    max-height: 500px;
    border-left: 3px solid black;
}


.selected-container {
    position: relative;
    width: 100%;

    display: flex;
    margin-bottom: 25px;
}



.img-info-con {
    position: relative;
    left: 7%;
    width: 25%;
    display: flex;
}

.check-img {
    max-width: 80px;
    min-width: 50px;
    object-fit: contain;
    margin: 0;
    margin-right: 15px;
}

.check-name {
    padding-top: 10px;
    font-size: clamp(1rem, 5vw, 1.3rem);
    padding-bottom: 5px;
    font-family: sans-serif;
}

.check-inf {
    font-family: sans-serif;
    font-size: 1rem;
    padding-bottom: 5px;
}

.delete-btn {
    position: relative;
    max-width: 100%;
    background: none;
    border: none;
    color: rgb(255, 23, 23);
    font-weight: bold;

}

.delete-btn:hover {
    cursor: pointer;
}

.qty-pr-container {
    position: relative;
    display: flex;
    align-items: center;
    left: 35%;
    width: 30%;
}


.check-price {
    margin-right: 0;
    margin-left: auto;
}

.check-qty {
    position: relative;

}

.continue-shop {

    width: fit-content;
    margin-left: 8%;
    color: rgb(113, 43, 226);
}

.continue-shop:hover {
    cursor: pointer;
}




.total-sum {
    margin-bottom: 7px;
}



.shipping {
    margin-bottom: 7px;
    font-size: 0.9rem;
}

.proceed-sale {
    background: black;
    color: white;
    padding: 5px;
    margin-bottom: 7px;
    text-align: center;
    border-radius: 20px;
}


.total-inf {}


::-webkit-scrollbar {

    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: white;
}


::-webkit-scrollbar-thumb {
    background: black;

}


.checkout-container {
    background: rgb(247, 247, 247);
}

.total-checkout-wraper {
    width: 80%;
    margin: 0 auto;
}



.check-h {
    font-size: 1.8rem;
    margin-top: 35px;
    padding-bottom: 39px;
    border-bottom: 3px solid #C0C0C0;
}

.c-pre-total {
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}

.c-pre-items {}

.c-pre-price {
    margin-left: auto;
    margin-right: 0;

}

.check-ship {
    margin-bottom: 10px;

}

.c-ship-select {
    width: 100%;
    min-height: 35px;
    text-align: center;
    margin-bottom: 20px;
    border: none;
}

.c-s-option {}

.check-promo-h {
    margin-bottom: 10px;

}

.check-p-input {
    width: 100%;
    min-height: 35px;
    text-align: center;
    margin-bottom: 20px;
    border: none;
}

.check-p-btn {
    padding: 0.7em 1.3em;
    margin-bottom: 25px;
    background: red;
    color: white;
    border: none;

}

.check-total-wrap {
    display: flex;
    margin-bottom: 20px;
    padding-top: 25px;
    border-top: 3px solid #C0C0C0;
}

.c-total-h {
    font-size: 0.9rem;

}

.c-total-price {
    margin-left: auto;
    margin-right: 0;

}

.c-total-btn {
    width: 100%;
    height: 3em;
    background: rgb(113, 43, 226);
    color: white;
    letter-spacing: 1px;
    margin-bottom: 50px;
    border: none;
}



@media screen and (max-width: 750px) {
    .cart-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .qty-pr-container {
        display: block;
        left: 0;
        position: relative;
        margin-left: auto;
        margin-right: 0;
    }

    .qty {
        display: none;
    }

    .check-price {
        margin-top: 10px;
    }

}