.Collection-section {

    width: 100%;
    padding: 5em 0;
}

.collection-header {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2em;
}

.watch-c-container {
    position: relative;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 7em;
}

.watch-container-two {
    position: relative;
    width: 95%;
    height: 25%;
    top: 15%;

    left: 50%;
    transform: translate(-50%);
    margin-bottom: 50px;


}


.watch-collection {
    width: 100%;
    height: 90%;
    display: flex;

}

.wa-container {
    display: flex;
    position: relative;
    top: 14%;
}


.wa-sub-con {
    min-width: 270px;
    max-width: 271px;
    height: 100%;
    padding-right: 10px;
}

.wa-img {
    width: 60%;
    max-height: 90%;
    border-radius: 10px;
    transition: all 0.2s ease;
}


.wa-img:hover {
    border: 4px solid #C0C0C0;
}

.watch-name {

    font-size: 1.1rem;
}

.watch-infor {

    font-size: 0.9rem;
}

.ftr {
    width: 100%;
    height: 10%;
    bottom: 0;
    background: rgb(41, 41, 41);
}

.line {
    width: 80%;
    height: 10px;
    bottom: 65%;

}