.About-section {
    width: 100%;
    padding: 5em 0;

}

.about-his {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    font-size: clamp(2rem, 5vw, 2.5rem);
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

.a-grid-container {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 75%;


}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    background: #fffde7c4;
    box-shadow: 0 0 20px rgb(170, 170, 170);
}



.ag-div2 {

    width: 90%;
    margin-left: auto;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px;

}

.ag-header {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;

    font-weight: lighter;
    font-size: clamp(2rem, 4vw, 4.5rem);
    left: 35px;
    letter-spacing: 5px;
    margin-bottom: 25px;



}

.ag-info {
    font-size: clamp(1rem, 1.65vw, 1.8rem);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;

    margin-bottom: 5px;

}


.ag-btn {
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sthlm-pic {
    max-width: 100%;
    margin: auto;
    -o-object-fit: contain;
    object-fit: contain;
    display: blocK;
}

@media screen and (max-width: 1100px) {

    .about-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        row-gap: 40px;
        width: 100%;
    }


    .sthlm-pic {
        max-height: 300px;
    }



    .line-br {
        display: none;
    }


    .ag-div2 {

        width: 100%;
        margin: 0;

    }


}