.About-section {
    width: 100%;
    padding: 5em 0;

}

.text-video-container {
    max-height: 150px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;


}

#text-video {
    width: 100%;
    max-height: 170px;
    position: absolute;
    z-index: -999;
    bottom: -160px;

}


.about-his {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    font-size: clamp(2rem, 5vw, 2.7rem);
    font-weight: bold;
    -webkit-animation: myanimation 5.7s infinite;
            animation: myanimation 5.7s infinite;

}



@-webkit-keyframes myanimation {
    0% {
        color: rgb(104, 104, 104);
    }

    25% {
        color: rgb(153, 153, 153);
    }

    50% {
        color: rgb(153, 153, 153);
    }

    75% {
        color: rgb(119, 118, 116);
    }

    100% {
        color: rgb(104, 104, 104);
    }
}



@keyframes myanimation {
    0% {
        color: rgb(104, 104, 104);
    }

    25% {
        color: rgb(153, 153, 153);
    }

    50% {
        color: rgb(153, 153, 153);
    }

    75% {
        color: rgb(119, 118, 116);
    }

    100% {
        color: rgb(104, 104, 104);
    }
}


.a-grid-container {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 75%;


}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background: rgb(230, 230, 230);
    box-shadow: 0 0 20px rgb(170, 170, 170);
}


.ag-p {
    position: relative;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.5rem;
    transition: all 0.4s ease;
    padding: 5px 15px;
    border-radius: 15px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}



.ag-p:hover {
    cursor: pointer;
    font-size: 1.7rem;
    color: black;
    background: rgb(255, 255, 255);

}




.sthlm-pic {
    width: 50%;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    display: blocK;
}

.ag-div {
    transition: all 0.3s ease;
}

.ag-div:hover {
    background: white;
    cursor: pointer;
}


.ag-div:active {
    background: white;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {

    .about-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        row-gap: 40px;
        width: 100%;
    }


    .sthlm-pic {
        max-height: 300px;
    }





}