.Material-section {
    width: 100%;
    padding: 5em 0;
    background: rgb(247, 247, 247);

    box-shadow: 0 0 20px rgb(170, 170, 170);
}

.material-slogan {
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 2.7rem);
    font-weight: bold;
    margin-bottom: 30px;

    background: -webkit-linear-gradient(-45deg, #000000 0, #ec910a 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.m-grid-container {
    width: max(315px, 90%);
    margin: 0 auto;
}


.material-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    -moz-column-gap: 10px;
    column-gap: 10px;
}


.mg-div {
    width: 100%;
}

.mgd-inf {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: clamp(1.1rem, 3vw, 1.4rem);
    letter-spacing: 1px;
    line-height: 1.5rem;

}

.mg-img {
    width: 100%;
    margin: auto;
    -o-object-fit: contain;
    object-fit: contain;
    display: blocK;
    border-radius: 30px;


}



@media screen and (max-width: 1150px) {



    .material-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;
        row-gap: 20px;
    }


}