.Mounting-section {
    width: 100%;
    padding: 2em;
}



.mount-pic {
    position: relative;
    width: 100%;
    height: 40%;
}

.mo-img {

    width: 100%;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    display: blocK;
}

.mount-slogan {
    color: white;
    z-index: 1;
    font-size: clamp(1.5rem, 4vw, 2rem);
    width: max(40%, 280px);
    text-align: center;

    font-family: 'Times New Roman', Times, serif;
}

#ms-inf {
    font-size: clamp(0.9rem, 3vw, 1rem);
    letter-spacing: 1px;
}


.mon-container {
    width: 100%;

    display: flex;
    justify-content: center;



}

.mon-grid {
    position: relative;
    width: 90%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.mon-div {
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mon-img {
    width: 100%;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    display: blocK;

}

.mon-info {
    position: relative;
    text-align: center;
    width: 60%;
    font-size: 1.3rem;

}



@media screen and (max-width: 1000px) {
    .mon-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 100px;

    }

    .mon-info {
        position: relative;
        text-align: center;
        width: 90%;
        font-size: 1.3rem;

    }

}