.Mounting-section {
    width: 100%;
    padding: 2em 0 5em 0;
}


.mount-pic {
    position: relative;
    width: 100%;
    min-height: 700px;
    margin-bottom: 40px;

}

.mo-img {
    width: 100%;
    min-height: 700px;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    display: blocK;
}



.mount-slogan {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    color: white;
    z-index: 1;
    font-size: clamp(1.5rem, 4vw, 3rem);
    width: max(40%, 315px);
    text-align: center;

    font-family: 'Times New Roman', Times, serif;
}

#ms-inf {
    font-size: clamp(0.9rem, 3vw, 1rem);
    letter-spacing: 1px;
}


.mon-container {
    width: 100%;

    display: flex;
    justify-content: center;

}

.mon-grid {
    position: relative;
    width: max(320px, 90%);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.mon-div {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}




.mon-img {
    width: 100%;
    max-height: 350px;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    display: blocK;

}

.mon-info {
    position: relative;
    text-align: center;
    width: max(280px, 60%);
    font-size: 1.3rem;
    margin: 0 auto;

}

.mon-text-wraper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 1000px) {
    .mon-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 40px;

    }


}